# benchmarks

bin/*
benchmarks/NPB3.4-OMP/bin/cg*
benchmarks/NPB3.4-OMP/CG/npbparams.h
benchmarks/NPB3.4-OMP/sys/setparams
benchmarks/btree/BTree
benchmarks/XSBench/src/XSBench
benchmarks/randomAccess/wl-randomreads-inputpages
benchmarks/randomAccess/wl-randomreads-inputpages-2

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
evaluation_script/collections_experimnent_data/*
VM_images/*
results/*
